// -----------------------------------------------------------------------------
// Base grid layout
// -----------------------------------------------------------------------------

/**
 * `.content` class is applied to layout root div (located in Layout.js). 
 * `.content__section` class is applied to every section in layout.
 * Everything inside `.content__section` should be wrapped in e.g. <div>.
 *
 * In `pages/[filename].js`:
 * <Layout>
 *    <Head />
 *    <section className="content__section">
 *       <div>Hero section</div>
 *    </section>
 *    <section className="content__section">
 *       <div>About section</div>
 *    </section>
 * </Layout>
 */

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  &__section {
    display: grid;
    --padding: 1rem;
    grid-template-columns: [full-start] minmax(var(--padding), 1fr) [contain-start] minmax(0, $breakpoint-xxl) [contain-end] minmax(var(--padding), 1fr) [full-end];
    padding: 2rem 0 3.25rem;

    @include breakpoint(sm) {
      --padding: 3rem;
      padding: 4rem 0rem 5rem;
    }

    @include breakpoint(md) {
      --padding: 4rem;
    }

    @include breakpoint(lg) {
      --padding: 2rem;
    }
    
    > * {
      grid-column: contain;
    }
  }
}

/* Hero section at the top of every page */
.hero {
  position: relative;

  > * {
    grid-column: full;
  }

  &__container {
    max-width: $breakpoint-sm;
    margin: 2rem auto 3rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;

    padding: 0 1rem;
    color: $txt-black;
  }

  &__for {
    font-size: 1.125rem;

    span {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      width: min-content;
      font-weight: 600;
    }

    svg {
      margin-top: -0.65rem;
      max-width: 100%;
      color: $cyan-dark;
    }
  }

  &__h1 {
    max-width: 350px;
    text-align: center;

    @include breakpoint(sm) {
      max-width: 480px;
    }
  }

  &__p {
    font-size: 1.125rem;
    line-height: 1.66;
    text-align: center;
    margin-bottom: 2.5rem;

    @include breakpoint(sm) {
      font-size: 1.188rem;
    }
  }
}
