// -----------------------------------------------------------------------------
// Application-wide variables
// -----------------------------------------------------------------------------

$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 940px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: 1180px;

$breakpoint-card: 928px;

$border-radius: 5px;
$txt-black: #2d3748;
$txt-grey: #60656e;
$txt-lightgrey: #818899;
$txt-white: #fbfbfb;

$nav-hover: #262c2f;
$nav-hl: #454b4e;

$bg-black: #020405;

$cyan: #5ED9C3;
$cyan-light: #C8F9E7;
$cyan-dark: #15B7A8;

$link-color: $cyan-dark;
$link-hover: #0ba091;

$students-bg: #88e7d7;

$link-social: $txt-black;

$pastel-blue: #D9E7FC;
$pastel-blue-dark: #ADD5FA;

$pastel-blue-darker: #679add;
$pastel-blue-darker2: #386aac;
$dark-blue: #89c2f7;

$pastel-purple: #e6defd;

$pastel-cyan: #D1F7FA;
$pastel-orange: #ffedc5;

$bg-iotitude: $pastel-cyan;
$link-iotitude: #05828c;

$bg-mysticons: $pastel-purple;
$link-mysticons: #6953a8;

$bg-overflow: $pastel-blue;
$link-overflow: #3f68a5;

$bg-pengwin: $pastel-orange;
$link-pengwin: #756543;


$nutshell-bg: #cdecff;
